<%= stylesheet_link_tag :entertainment_categories, :media => "all" %>


<div id="columns">
  <figure>
    <%= image_tag(entertainment_store.logo_url) %>
  <figcaption>
<ul>  
  <li><i class="icon-airplane"></i> <%= entertainment_store.title %></li>
  <li><i class="icon-airplane"></i> 
    <% if entertainment_store.tags.any? then %>          
        <% entertainment_store.tags.each do |tag| %>
          <%= tag.title %>
        <% end %> 
    <% end %>
  </li>
  <li>
    <% if entertainment_store.phones.any? then %>
      <%= t("phone", :count => entertainment_store.phones.count ) %>
      <% entertainment_store.phones.each do |phone| %>
        <%= phone.number_type + ": " + phone.number %>
      <% end %> 
    <% end %>
  </li>
  
  <% entertainment_store.locations.each do  |location|%>
    <li><i class="icon-airplane"></i><%= location.address %></li>
  <% end %>
    
 <li id="likes_count<%=entertainment_store.id%>"><i class="icon-bar-graph"></i> <%= entertainment_store.points %></li>
    
</ul>
    
  </figcaption>
  </figure>
  

</div>
  
  
<%= render 'shared/like_form', :likeable => entertainment_store if user_signed_in? %>


