<div class="row">
  <div class="col-md-3">        
    <div class="image-img"><%= image_tag(store.logo.url) %> </div>
  </div>
  
  <div class="col-md-9 store-info-<%= store.id %>">
    <div class="row text-center">
      <div class="btn-group ">
        <button id="btn-store-general-<%=store.id%>" class="btn btn-default">General</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% store.locations.each do  |location|%>
          <%= location.address %>
        <% end %>
      </div>
      <div class="col-md-6">
        <% if store.phones.any? then %>
          <%= t("phone", :count => store.phones.count ) %><br>
          <% store.phones.each do |phone| %>
            <%= phone.number_type + ": " + phone.number %>
          <% end %> 
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9 store-info-<%= store.id %>" style="display:none">
    lorem
    <div class="row text-center">
      <div class="btn-group ">
        <button id="btn-store-description-<%=store.id%>" class="btn btn-default">Description</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <% if store.tags.any? then %>          
      <% store.tags.each do |tag| %>
        <%= tag.title %>
      <% end %> 
    <% end %>
</div>

<script>
  $( "#btn-store-general-<%=store.id%>" ).click(function() {
    $(".store-info-<%= store.id %>").toggle()
  });
  $( "#btn-store-description-<%=store.id%>" ).click(function() {
    $(".store-info-<%= store.id %>").toggle()
  });
</script>



