<%= stylesheet_link_tag :static_pages, :media => "all" %>

<div class="first-banner"> 	</div> <!-- background -->

<div class="banner-support"> </div> <!-- allow the background to always take 100% of device height -->

<div class="logo"> </div>


<div class="maincontent">

  <h1> <%= CONFIG[:app_name] %></h1>

  <p>
    Hello, and wellcome to <%= CONFIG[:app_name] %>
  </p>
  
    <%= if current_user then render 'shared/poll' unless Poll.first.blank? end %> <!-- This is here for testing -->


    <!-- You can do this for EntertainmentCategory and OtherCategory aswell -->

    <ul>
      <% FoodCategory.all.each do |category| %> 
        <li><%= category.title %></li>
      <% end %>
    </ul>

    <!-- we can do javascript together to make them show when you click if you want we can look into it tomorow :) -->


</div>
