  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns nav">   
      <%= image_tag "lamia-todo-logo4.png", class: "lamia-todo-logo"%>
      <div class="nav-bar right">
        <ul class="button-group">
           <li><a href="#" class="medium button">Home</a></li>
           <li><a href="#" class="medium button">About Us</a></li>
           <li><a href="#" class="medium button">Contact</a></li>
           <li><a href="#" class="medium button ltd">What is <%= image_tag "lamia-todo-mini-logo.png", class: "lamia-todo-mini-logo" %></a></li>
        </ul>
      </div>      
    </div>
  </div>
 
  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 
      <article>

        <div class="row">
          <div class="large-12 columns">
            <dl class="sub-nav filter">
              <dt>Filter:</dt>
              <dd class="active"><a href="active">General</a></dd>
              <dd><a href="#">Menu</a></dd>
              <dd><a href="#" data-tooltip class="tip-top" title="coming soon...">Deals</a></dd>
              <dd><a href="#">Links</a></dd>
            </dl>
            <table class="no-border-top">
              <thead>
                <tr>
                  <th width="70">Logo</th>
                  <th width="200">Phones</th>
                  <th width="200">Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag "geush-logo.png", class: "geush-logo"%></td>
                  <td><ul>
                    <li class="geush-phones"><i class="fi-telephone"></i> 22310-43232</li>
                    <li class="geush-phones"><i class="fi-mobile"></i> 6978856434</li>
                  </ul></td>
                  <td><p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </article>

            <article>

        <div class="row">
          <div class="large-12 columns">
            <dl class="sub-nav filter">
              <dt>Filter:</dt>
              <dd class="active"><a href="active">General</a></dd>
              <dd><a href="#">Menu</a></dd>
              <dd><a href="#" data-tooltip class="tip-top" title="coming soon...">Deals</a></dd>
              <dd><a href="#">Links</a></dd>
            </dl>
            <table class="no-border-top">
              <thead>
                <tr>
                  <th width="70">Logo</th>
                  <th width="200">Phones</th>
                  <th width="200">Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag "geush-logo.png", class: "geush-logo"%></td>
                  <td><ul>
                    <li class="geush-phones"><i class="fi-telephone"></i> 22310-43232</li>
                    <li class="geush-phones"><i class="fi-mobile"></i> 6978856434</li>
                  </ul></td>
                  <td><p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </article>

            <article>

        <div class="row">
          <div class="large-12 columns">
            <dl class="sub-nav filter">
              <dt>Filter:</dt>
              <dd class="active"><a href="active">General</a></dd>
              <dd><a href="#">Menu</a></dd>
              <dd><a href="#" data-tooltip class="tip-top" title="coming soon...">Deals</a></dd>
              <dd><a href="#">Links</a></dd>
            </dl>
            <table class="no-border-top">
              <thead>
                <tr>
                  <th width="70">Logo</th>
                  <th width="200">Phones</th>
                  <th width="200">Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag "geush-logo.png", class: "geush-logo"%></td>
                  <td><ul>
                    <li class="geush-phones"><i class="fi-telephone"></i> 22310-43232</li>
                    <li class="geush-phones"><i class="fi-mobile"></i> 6978856434</li>
                  </ul></td>
                  <td><p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </article>

      <article>

        <div class="row">
          <div class="large-12 columns">
            <dl class="sub-nav filter">
              <dt>Filter:</dt>
              <dd class="active"><a href="active">General</a></dd>
              <dd><a href="#">Menu</a></dd>
              <dd><a href="#" data-tooltip class="tip-top" title="coming soon...">Deals</a></dd>
              <dd><a href="#">Links</a></dd>
            </dl>
            <table class="no-border-top">
              <thead>
                <tr>
                  <th width="70">Logo</th>
                  <th width="200">Phones</th>
                  <th width="200">Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag "geush-logo.png", class: "geush-logo"%></td>
                  <td><ul>
                    <li class="geush-phones"><i class="fi-telephone"></i> 22310-43232</li>
                    <li class="geush-phones"><i class="fi-mobile"></i> 6978856434</li>
                  </ul></td>
                  <td><p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </article>
      

      <article>

        <div class="row">
          <div class="large-12 columns">
            <dl class="sub-nav filter">
              <div class="filter-wrapper">
                <dt>Filter:</dt>
                <dd class="active"><a href="active">General</a></dd>
                <dd><a href="#">Menu</a></dd>
                <dd><a href="#" data-tooltip class="tip-top" title="coming soon...">Deals</a></dd>
                <dd><a href="#">Links</a></dd>
              </div>
            </dl>
            <table class="no-border-top">
              <thead>
                <tr>
                  <th width="70">Logo</th>
                  <th width="200">Phones</th>
                  <th width="200">Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag "geush-logo.png", class: "geush-logo"%></td>
                  <td><ul>
                    <li class="geush-phones"><i class="fi-telephone"></i> 22310-43232</li>
                    <li class="geush-phones"><i class="fi-mobile"></i> 6978856434</li>
                  </ul></td>
                  <td><p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 

      </article>


      <article>

        <div class="section-container auto" data-section>
          <section class="active">
            <p class="title" data-section-title><a href="#panel1">General</a></p>
            <div class="content" data-section-content>
              <table>
                <thead>
                  <tr>
                    <th width="70">Logo</th>
                    <th width="200">Phones</th>
                    <th width="200">Info</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= image_tag "geush-logo.png", class: "geush-logo"%></td>
                    <td><ul>
                      <li class="geush-phones"><i class="fi-telephone"></i> 22310-43232</li>
                      <li class="geush-phones"><i class="fi-mobile"></i> 6978856434</li>
                    </ul></td>
                    <td><p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel2">Menu</a></p>
            <div class="content" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
               <section>
            <p class="title" data-section-title><a href="#panel3">Deals</a></p>
            <div class="content" data-section-content>
              <p>Content of section 3.</p>
            </div>
          </section>
               <section>
            <p class="title" data-section-title><a href="#panel4">Links</a></p>
            <div class="content" data-section-content>
              <p>Content of section 4.</p>
            </div>
          </section>
        </div>

      </article>
      
      <!-- Social Buttons  -->

      <!-- <article class="media">
        <section class="slide-up-boxes">
      
          <a href="http://wufoo.com">
            <h5><i class="fi-social-facebook size-48"></i></h5>
            <div><i class="fi-like size-48"></i></div>       
          </a>
      
          <a href="http://digwp.com">
            <h5>Book I co-authored...</h5>
            <div>Digging Into WordPress is a book and blog I co-author with Jeff Starr about the world's #1 publishing platform.</div>        
          </a>
      
          <a href="http://quotesondesign.com">
            <h5>Words I collect...</h5>
            <div>Quotes on Design is a collection of design related quotes. With an API for your integration ideas!</div>       
          </a>
      
        </section>
      </article> -->


    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
 
      <ul class="side-nav">
        <li><div class="sidebar-button">Food</div></li>
        <li><div class="sidebar-button">Entertainment</div></li>
        <li><div class="sidebar-button">Clothing</div></li>
      </ul>
 
      <div class="super-deal panel">
        <h5>SUPER DEAL</h5><i class="fi-burst-sale size-72"></i>
        <ul class="pricing-table">
          <li class="title">Buddy's Grill</li>
          <li class="price">5€</li>
          <li class="description">Weekly Special</li>
          <li class="bullet-item"><%= image_tag "burger.jpg", class: "super-deal-image"%></li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <%= image_tag "footer-divider.png", class: "footer-divider" %>
      <div class="footer-social-buttons">
        <i class="animated pulse fi-social-twitter size-56 twitter-color"></i>
        <i class="fi-social-facebook size-56 facebook-color animated shake"></i>
        <i class="fi-social-skype size-56 skype-color"></i>
        <i class="fi-social-youtube size-56 youtube-color"></i>
      </div>
    </div>
  </footer>
