<div class="row">
  <div class="col-md-2">
    <button id="btn-store-info-<%=store.id%>" class="btn" ><span style="display: none">Info</span><span>Deals/Events</span></button>
  </div>
  <div class="col-md-8 text-center ">
    <h3 style="margin:5px"><%= store.title %></h3>
  </div>
  <div class="col-md-2">
    <span id="likes_count<%=store.id%>" class="label label-info pull-right"><%= store.points %></span>
    <div><%= render 'shared/like_form', :likeable => store if user_signed_in? %></div>
  </div>
</div>
<script>
  $( "#btn-store-info-<%=store.id%>" ).click(function() {
    $("#btn-store-info-<%=store.id%> span").toggle()
    $(".main-store-<%=store.id%>").toggle()
  });
</script>
