<div class="row">
  <div class="col-md-2">
    <button id="btn-store-info-<%=store.id%>" class="btn" ><span style="display: none">Info</span><span>Deals/Events</span></button>
  </div>
  <div class="col-md-8 text-center ">
    <h2><%= store.title %></h2>
  </div>
  <div class="col-md-2">
    <div id="likes_count<%=store.id%>"><i class="icon-bar-graph"></i> <%= store.points %></div>
    <div><%= render 'shared/like_form', :likeable => store if user_signed_in? %></div>
  </div>
</div>
<script>
  $( "#btn-store-info-<%=store.id%>" ).click(function() {
    $("#btn-store-info-<%=store.id%> span").toggle()
    $(".main-store-<%=store.id%>").toggle()
  });
</script>
