<div class="row">
  <div class="col-md-5">
    <%= store.title %>
  </div>
  <div class="col-md-5">
    <button id="btn-store-ead-<%=store.id%>" class="btn">Deals/Events</button>
  </div>
  <div class="col-md-2">
    <div id="likes_count<%=store.id%>"><i class="icon-bar-graph"></i> <%= store.points %></div>
    <div><%= render 'shared/like_form', :likeable => store if user_signed_in? %></div>
  </div>
</div>

<script>
  $( "#btn-store-info-<%=store.id%>" ).click(function() {
    $("#btn-store-info-<%=store.id%>").attr('id','btn-store-ead-<%=store.id%>')
    $("#btn-store-ead-<%=store.id%>").html("Info")
    $("#main-store-<%=store.id%>").html("<%= escape_javascript(render('/stores/store_main/deals_events', :store => store)) %>")
  });
  $( "#btn-store-ead-<%=store.id%>" ).click(function() {
    $("#btn-store-ead-<%=store.id%>").attr('id',"btn-store-info-<%=store.id%>")
    $("#btn-store-info-<%=store.id%>").html("Deals/Events")
    $("#main-store-<%=store.id%>").html("<%= escape_javascript(render('/stores/store_main/info', :store => store)) %>")
  });
</script>