<li class="shop-item" id="<%= fun_shop.id%>">

<%= image_tag(fun_shop.logo_url,:class => "shop-logo") %>

<div class="phones center">
  <h3>Τηλέφονα</h3>
  <% fun_shop.phones.each do |phone| %>
    <%= phone.number_type + ":" %>
    <%= phone.number %>
    <br>
  <% end %>
</div>

<h1 class="title"><%= fun_shop.title %></h1>

<h1 class="address"><%= fun_shop.address %></h1>



<div class="subcategories">
  <h3>Υποκατηγορίες</h3>
  <% fun_shop.fun_subcategories.each do |subcategory| %>
    <p><%= subcategory.title %></p>
  <% end %>
</div>





</li>