<% provide(:title, @user.username) %>

<%= image_tag(@user.gravatar) %>





<p>Stores relations</p>
<div>
  <% @user.liked_food_stores.each do |food_store| %>
    <%= food_store.title %>
  <% end %>

  <% @user.liked_entertainment_stores.each do |entertainment_store| %>
    <%= entertainment_store.title %>
  <% end %>

  <% @user.liked_other_stores.each do |other_store| %>
    <%= other_store.title %>
  <% end %>  
</div>








<p>Events and deals relations</p>
<div>
  <% @user.liked_events.each do |event| %>
    <%= event.title %>
  <% end %>
  <% @user.liked_deals.each do |event| %>
    <%= event.title %>
  <% end %>  
</div>



<%= @user.email %>
<%= render 'users/stats' %>
<%= render 'users/user_info' %>
<%= render 'follow_form' if user_signed_in? %>
