<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%# gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section>
      <%= render 'users/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user.name , user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%# render @users %>
      </ul>
    <% end %>
  </div>
</div>