<% provide(:title, @user.username) %>

<div class="pull-left"><%= image_tag(@user.gravatar) %></div>

<%= render 'users/user_info' %>
<%= render 'users/stats' %>





<h3>Stores relations</h3>
<div>
  <% @user.liked_food_stores.each do |food_store| %>
    <%= food_store.title %>
  <% end %>

  <% @user.liked_entertainment_stores.each do |entertainment_store| %>
    <%= entertainment_store.title %>
  <% end %>

  <% @user.liked_other_stores.each do |other_store| %>
    <%= other_store.title %>
  <% end %>  
</div>








<h3>Events and deals relations</h3>
<div>
  <% @user.liked_events.each do |event| %>
    <%= event.title %>
  <% end %>
  <% @user.liked_deals.each do |event| %>
    <%= event.title %>
  <% end %>  
</div>

<%= render 'follow_form' if user_signed_in? %>
