<!--
<% # On EAD you can use any search method you want and you can load as manny objects as you want here are some rendering options %>
<%= render partial: "ead/deal.html.erb", collection: Ead::Deal.all unless Ead::Deal.first.blank? %>
<%= render partial: "ead/ad.html.erb", object: Ead::Ad.order( 'RANDOM()' ).first unless Ead::Ad.first.blank? %>
<%= render partial: "ead/event.html.erb", object: Ead::Event.order( 'RANDOM()' ).first unless Ead::Event.first.blank? %>
<% # End of EAD rendering %>

-->
<%= stylesheet_link_tag :shared, :media => "all" %>
<%= javascript_include_tag "menu-toggle" %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">

            <ul>
						<li><a href="#"><i class="icon-network"> </i></a></li>
  					<li><a href="/food_categories">  <%= t "views.sidenav.explore" %></a></li>
    				<li><a href="/entertainment_categories"> <%= t "views.sidenav.fun" %></a></li>
    				<li><a href="/other_categories"> <%= t "views.sidenav.other" %></a></li>
            </ul>
        </div>
    </div>
	</div>
