<div>
  <div class="btn-group">
    <a href=<%= stores_food_categories_path%>><button type="button" class="btn btn-default"><%= t "views.sidenav.food" %></button></a>
    <a href=<%= stores_entertainment_categories_path%>><button type="button" class="btn btn-default"><%= t "views.sidenav.entertainment"%></button></a>
  	<a href=<%= stores_other_categories_path%>><button type="button" class="btn btn-default"><%= t "views.sidenav.other" %></button></a>
  </div>
</div>
