<h3>This is the view for individual Food shop find me in "app/views/food_shops/_food_shop.html.erb"</h3>

<%= image_tag(food_shop.logo_url) %>
<%= food_shop.title %>
<%= food_shop.address %>


<% if food_shop.food_subcategories.any? %>            
    <% food_shop.food_subcategories.each do |subcategory| %>
      <%= subcategory.title %>
    <% end %> 
<% else %>
<% end %>

<% if food_shop.phones.any? %>
  <% if food_shop.phones.count > 1 %>
    <p>Τηλέφωνα</p>
  <% else %>
    <p>Τηλέφωνο</p>
  <% end %>
    <% food_shop.phones.each do |phone| %>
            <%= phone.number_type + ": " + phone.number %>
    <% end %> 
<% else %>
<% end %>

