<%= stylesheet_link_tag :categories, :media => "all" %>

<div class="store-grid">
 <div class="image-grid">
      <div class="image-content">        
        <div class="image-img"><%= image_tag(food_store.logo.url) %> </div>
        <div class="image-text">
          <div class="image-height">
			<ul>	
			  <li> <%= food_store.title %></li>
			  <li>	
			    <% if food_store.tags.any? then %>          
			        <% food_store.tags.each do |tag| %>
			          <%= tag.title %>
			        <% end %> 
			    <% end %>
			  </li>
			  <li>
			    <% if food_store.phones.any? then %>
			      <%= t("phone", :count => food_store.phones.count ) %>
			      <% food_store.phones.each do |phone| %>
			        <%= phone.number_type + ": " + phone.number %>
			      <% end %> 
			    <% end %>
			  </li>
	
			  <% food_store.locations.each do  |location|%>
			    <li><i class="icon-location"></i><%= location.address %></li>
			  <% end %>
		
			 <li id="likes_count<%=food_store.id%>"><i class="icon-bar-graph"></i><%= food_store.points %></li>
			 <li><%= render 'shared/like_form', :likeable => food_store if user_signed_in? %></li>
		
		
			</ul>
          </div>          
        </div>
      </div>
    </div> 

</div>



