<div class="row">
  <div class="large-12 columns nav">   

    <%= image_tag "lamia-todo-logo4.png", class: "lamia-todo-logo"%>
    <div class="nav-bar right">
      <ul class="button-group">
         <li><%= link_to "Αρχική Σελίδα", root_path , :class => "medium button" %></li>
         <li><%= link_to "Επικοινωνία",contact_path, :class => "medium button" %></li>
         <li><%= link_to "Sign in", new_user_session_path, :class => "medium button" unless current_user %></li>
         <li><%= link_to "Sign out", destroy_user_session_path, method: "DELETE" , :class => "medium button" if current_user %></li>
      </ul>
    </div>      
  </div>
</div>
