<!DOCTYPE html>
<html lang="gr">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/google_analytics' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Main Layout find me in "app/views/layouts/application.html.erb"</h1>
    <% # On EAD you can use any search method you want and you can load as manny objects as you want %>
    <%= render partial: "shared/deal.html.erb", collection: Deal.order( 'RANDOM()' ).first %>
    <%= render Ad.order( 'RANDOM()' ).first %>
    <%= render Event.order( 'RANDOM()' ).first %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_notice' %>
    <div><%= yield %></div>
    <%= render 'layouts/footer' %>
</body>
</html>
