<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="gr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="gr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="gr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="gr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="gr"> <!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
</head>
<body>
    <%= render 'shared/nav' %>
    <%= render 'shared/sidenav' %>
	

    <%= render 'layouts/flash_notice' %>
      
      <% # Main website content %>
      <%= yield %>


   


    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
</body>
</html>