<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="gr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="gr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="gr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="gr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="gr"> <!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "LocalGrowth" %>">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics_and_maps' %>
</head>
<body class="container">

  <header>
    <div class="row">
       <%= render 'shared/nav' %>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-7 text-center">
        <%= render 'shared/basenav' %>
      </div>
    </div>   
  </header>

  <!-- # Main website content-->
  <main role="main">
    <%= render 'layouts/flash_notice' %>
    <div class="row">
      <div class="col-md-offset-2 col-md-7 text-center">
        <%= paginate @stores if @stores%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
         <%= render "shared/categories_sidebar" %>
      </div>
      <div class="col-md-7">      
        <%= yield %>
      </div>
      <div class="col-md-3">
        <%= render 'shared/ead' %>
      </div>
    </div>
  </main>

  <%# render 'shared/misc' %>
  <%= render 'layouts/footer' %>

</body>
</html>
