<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="gr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="gr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="gr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="gr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="gr"> <!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
</head>
<body>
    <%= render 'layouts/header' %>

    <div class="row">
      <%= render 'layouts/flash_notice' %>
      <%= render 'layouts/center_menu' %>
      
      <% # Main website content %>
      <div class="large-9 columns" role="content"><%= yield %></div>

      <aside class="large-3 columns">        
        <% if @categories %>
          <ul class="side-nav">
            <% @categories.each do |category| %>
              <a href=<%= "/#{category.class.to_s.underscore.pluralize(2)}/#{category.id}" %>><li class="sidebar-button"><%= category.title %></li></a>
            <% end %>
          </ul>
        <% end %>

        <% # On EAD you can use any search method you want and you can load as manny objects as you want here are some rendering options %>
        <%= render partial: "shared/deal.html.erb", collection: Deal.all unless Deal.first.blank? %>
        <%= render partial: "shared/ad.html.erb", object: Ad.order( 'RANDOM()' ).first unless Ad.first.blank? %>
        <%= render partial: "shared/event.html.erb", object: Event.order( 'RANDOM()' ).first unless Event.first.blank? %>
        <% # End of EAD rendering %>

      </aside>
      <%= render partial: "shared/poll.html.erb", collection: Poll.active unless Poll.active.blank? %>
    </div>

    <%= render 'layouts/footer' %>
    <% # render 'layouts/foundation_javascript' %>
    <%= javascript_include_tag "application" %>
</body>
</html>